<div class="dev-card" *ngFor="let gitHubUser of gitHubUser">
  <div class="dev-card__image">
    <img src="{{ gitHubUser.avatar_url }}" alt="dev image">
  </div>
  <div class="formulario">
    <div class="dev-card__nome">
      {{ gitHubUser.name }}
    </div>
    <div class="dev-card__cidade">
      {{ gitHubUser.location }}
    </div>
    <div class="dev-card__formacao">
      {{ gitHubUser.bio }}
    </div>
    
    <div class="editores">
      <div >
        <a class="CadastroGit" href="{{gitHubUser.html_url}}">Acessar GitHub</a>
      </div>
      <a class="alterar" [routerLink]="[ '/cadastro']">
        <span class="fas fa-edit"></span>
      </a>&nbsp;
      <a class="deletar" [routerLink]="">
        <span class="fas fa-trash-alt"></span>
      </a>
    </div>
  </div>
</div>