<div class="col-sm-8">
<div class="dev-card"  *ngFor="let gitHubUser of gitHubUser">
  <div class="dev-card__image">
    <img src="{{ gitHubUser.avatar_url }}" onerror="this.onerror=null; this.src='/assets/Default.jpg'" alt="dev image">
  </div>
  <div class="formulario">
    <div class="dev-card__nome">
      {{ gitHubUser.name }}
    </div>
    <div class="dev-card__cidade">&nbsp;
      {{ gitHubUser.city }}
    </div>
    <div class="dev-card__formacao">&nbsp;
      {{ gitHubUser.bio }}
    </div>
    
    <div class="editores">
      <div >
        <a class="CadastroGit" href="{{gitHubUser.html_url}}" target="_blank">Acessar GitHub</a>
      </div>
      <a (click) ="alterarCadastro(gitHubUser.id)" class="alterar">
        <span class="fas fa-edit"></span>
      </a>&nbsp;
      <a (click)="deletarCadastro(gitHubUser.id)" class="deletar" >
        <span class="fas fa-trash-alt"></span>
      </a>
    </div>
  </div>
</div>
</div>