.dev-card {
  background: #1A202C;
  width: 300px;
  height: 229px;
  margin: 30px;
  position: relative;
  display: inline-flex;
  justify-content: center;
  left: 500px;
}

.dev-card div{
  display: inline-block;
  
}

.formulario {
  margin-top: 40px;
  font-family: 'Roboto', sans-serif;
  color: #FFFFFF;
  padding: 0 10px;
  line-height: 25px;
  position: absolute;
}

.dev-card__nome{
    font-size: 16px;
    font-weight: 500;
    
}
.dev-card__cidade,
.dev-card__formacao{
    font-size: 14px;
    font-weight: 400;

    
}

img {
  border-radius: 50%;
  max-width: 88px;
  max-height: 88px;
  border: 3px solid #1A202C;
  box-sizing: border-box;
  background-blend-mode: normal;
  width: auto;
  height: auto;
}

.dev-card__image {
  position: absolute;
  right: 10px;
  margin-top: -40px;

}

.editores {
  display: flex;
  padding-right: 20px;
  width: auto;
  height: auto;
  right: 10px;
  margin-top: 20px;
  

}

.fa-edit {
  color: #4299E1;
  padding-right: 10px;
}

.fa-trash-alt {
  color: #E53E3E;
}

a.CadastroGit {
  color: #68D391;
  text-decoration: none;
  padding-right: 10px;
  

}