

.main-container {
  width: 400px;
  left: 180px;
  background-color: #FFFFFF;
  border: 1px solid #cbd5e0;
  box-sizing: border-box;
  box-shadow: 0px 8px 16px rgb(0 0 0 / 15%);
  border-radius: 3px;
  margin-top: 12px !important;
  margin-bottom: 22px !important;
  padding-top: 25px;
  padding-bottom: 10px;

  margin-left: 50px;

}

.form-group {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
 

}
label{
  margin-top: 6px;
  margin-bottom: 1px;
}

input,
button {
  /* White */
  background: #FFFFFF;
  /* Cinzas/Gray-500 */
  border: 2px solid #A0AEC0;
  box-sizing: border-box;
  border-radius: 3px;

  width: 336px;
  height: 42px;
  left: 212px;
  top: 108px;
}

button{
  margin-bottom: 10px;  
}

#git {
  background-color: #FFFFFF;
}

img {
  border: 0 none;
  margin-right: 5px;
}

textarea {
  width: 336px;
  height: 90px;
  left: 212px;
  top: 729px;
}