@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
:host {
  flex-wrap: wrap !important;
  display: flex !important;
}

#ccc {
  background: #1A202C;
  height: 50px;
}

#busca {
  background: #2D3748;
  border: 1px solid #2D3748;
  box-sizing: border-box;
  color: #fff;

  border-radius: 3px;

}

#lupa {
  position: absolute;
  right: 15px;
  top: 10px;
  color: #718096;
  cursor: pointer;
  background-color: #2D3748;
  border: 0 none;
}

a.navbar-brand {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 24px;

  display: flex;
  align-items: flex-end;
  text-align: right;
  color: #fff;
}


.card {
  white-space: normal;
  text-align: center;
  word-break: break-all;
  position: absolute;
  display: flex;
  margin-top: 169px;
}

.footer {

  width: 100%;
  text-align: center;
  left: 0;
  right: 0;
  height: 50px;
  background: #1A202C;
  box-sizing: border-box;
  margin-top: 20px;
  border-radius: 3px;

}


/*---------------------------------------------------*/
.dev-card {
  margin-left: 500px;
  background: #1A202C;
  width: 300px;
  height: 175px;
  /* margin-left: 30px; */
  position: absolute;
  /* margin-top: 0 !important; */
  top: 100px;
}

.formulario {
  margin-top: 40px;
  font-family: 'Roboto', sans-serif;
  color: #FFFFFF;
  padding: 0 10px;
  line-height: 25px;
}

.dev-card__nome {
  font-size: 16px;
  font-weight: 500;

}

.dev-card__cidade,
.dev-card__formacao {
  font-size: 14px;
  font-weight: 400;


}

img {
  border-radius: 50%;
  max-width: 88px;
  max-height: 88px;
  border: 3px solid #1A202C;
  box-sizing: border-box;
  background-blend-mode: normal;
  width: auto;
  height: auto;
}

.dev-card__image {
  position: absolute;
  right: 10px;
  margin-top: -40px;

}

.editores {
  display: flex;
  padding-right: 20px;
  position: absolute;
  width: auto;
  height: auto;
  right: 10px;
  margin-top: 20px;

}



.fa-edit {
  color: #4299E1;
  padding-right: 10px;
}

.fa-trash-alt {
  color: #E53E3E;
}

a.CadastroGit {
  color: #68D391;
  text-decoration: none;
  padding-right: 10px;

}

/*---------------------------------------------------*/
