
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '~ngx-toastr/toastr.css';
@import '~ngx-toastr/toastr';

:host {
  flex-wrap: wrap !important;
  display: flex !important;

}

#ccc {
  background: #1A202C;
  height: 50px;
}

#busca {
  background: #2D3748;
  border: 1px solid #2D3748;
  box-sizing: border-box;
  color: #fff;

  border-radius: 3px;

}

#lupa {
  position: absolute;
  right: 15px;
  top: 10px;
  color: #718096;
  cursor: pointer;
  background-color: #2D3748;
  border: 0 none;
}

a.navbar-brand {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 24px;

  display: flex;
  align-items: flex-end;
  text-align: right;
  color: #fff;
}

footer {
  width: 100%;
  text-align: center;
  position:absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  background: #1A202C;
  box-sizing: border-box;

  border-radius: 3px;
    flex-shrink: 0;


}

.formulario {
  margin-top: 40px;
  font-family: 'Roboto', sans-serif;
  color: #FFFFFF;
  padding: 0 10px;
  line-height: 25px;
}


/*---------------------------------------------------*/


/*---------------------------------------------------*/
