@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

#ccc {
  background: #1A202C;
  height: 50px;
}

#busca {
  background: #2D3748;
  border: 1px solid #2D3748;
  box-sizing: border-box;
  color: #fff;

  border-radius: 3px;
 
}

#lupa {
  position: absolute;
  right: 15px;
  top: 10px;
  color: #718096;
  cursor: pointer;
  background-color: #2D3748;
  border: 0 none;
}

a.navbar-brand {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 24px;

  display: flex;
  align-items: flex-end;
  text-align: right;
  color: #fff;
}


/*
.main-container {
  padding-top: 25px;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 100px;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
}



------------------------------------------------*/

.card {
  white-space: normal;
  text-align: center;
  word-break: break-all;
  position: absolute;
  display: flex;
  margin-top: 169px;
}

/* Sticky footer styles
  --------------------------------------------------

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
} */


/* Sticky footer styles
  -------------------------------------------------- */
/*
html {
  position: relative;
  min-height: 100%;
}

body {

  margin-bottom: 60px;
}*/

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px;
  /* Vertically center the text there */


  background: #1A202C;
  box-sizing: border-box;

  border-radius: 3px;
}


