<header>
    <nav id="ccc" class="navbar navbar-expand-sm ">
        <div class="col-2 col-sm-4 col-md-5">
            <a class="navbar-brand" href="/">Cadastro DEV</a>
        </div>

        <div  class="col-2 col-sm-4 col-md-5">
            <div class="input-group">
              <input id="busca" type="search" class="form-control">
              <span class="input-group-addon">
                <button id='lupa' class="fa fa-search"></button>
              </span>
            </div>
        </div>
    </nav>
</header>